[Unit]
Description=WebSocket
Documentation=https://github.com/jaka1m
After=network-online.target syslog.target
Wants=network-online.target

[Service]
Type=simple
User=root
NoNewPrivileges=true
ExecStart=/usr/bin/ws -f /usr/bin/tun.conf
Restart=on-failure
RestartSec=5s
RestartPreventExitStatus=23
LimitNPROC=10000
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target